{{>navbar user=user}}
<div class="min-vh-100">
    <form>
        <h1>Actualizar Producto</h1>
        <div class="form-floating mb-3">
            <input type="hidden" name="id" id="prodId" value="{{product.id}}">
            <input type="name" name="name" class="form-control" id="prodName" placeholder="libro1" value="{{product.name}}" required>
            <label for="floatingInput">Nombre</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="description" class="form-control" id="prodDesc" placeholder="descripci贸n del producto" value="{{product.description}}" required>
            <label for="floatingInput">Descripci贸n</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="category" class="form-control" id="prodCat" placeholder="descripci贸n del producto" value="{{product.category}}" required>
            <label for="floatingInput">Categoria</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" name="code" class="form-control" id="prodCode" placeholder="12345" value="{{product.code}}" required>
            <label for="floatingPassword">C贸digo</label>
        </div>
        <div class="form-floating mb-3">
            <input type="url" name="thumbnail" class="form-control" id="prodImg" placeholder="foto del producto" value="{{product.thumbnail}}" required>   
            <label for="floatingInput">Foto</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" name="price" class="form-control" id="prodPrice" placeholder="145" value="{{product.price}}" required>
            <label for="floatingInput">Precio</label>
        </div>
        <button type="submit" class="btn btn-primary"  id="updateBtn">Enviar</button>
</form>
</div>
{{>footer}}


<script src="/js/products/updateProd.js"></script>